<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Поиск резюме</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Поиск резюме:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form role="form" th:action="@{/searchResume}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Кого хотим найти ? :3"
                               th:name="search"></input>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">
                                Найти
                            </button>
                        </span>
                    </div>
                    <input type="radio" name="group" th:name="choice" value="fullName" checked="checked">Поиск по
                    имени</input>
                    <input type="radio" name="group" th:name="choice" value="city">Поиск по городу</input>
                    <input type="radio" name="group" th:name="choice" value="login">Поиск по логину</input>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; Ниже некуда</div>
</div>
</body>
</html>